// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Custom
.vacationCard,
.thumbnailCard,
.placeCard {
    border-radius: $border-radius;
    border-width: $border-width;
    border-style: $border-style;
    border-color: $secondary;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    color: $light;
    background-size: cover;
    background-position: center;
    height: 300px;
    background-color: #afafaf;
    background-blend-mode: multiply;
    text-shadow: 1px 1px 5px black;
    padding: 0.5rem;
    * {
        width: 100%;
    }
}

.thumbnailCard {
    filter: grayscale(1);
}

.thumbnailCard:hover {
    filter: grayscale(0);
}

.thumbnailCard.selected {
    border-color: $success;
    border-width: 5px;
    filter: grayscale(0);
}

.dropdown-menu-dark {
    .dropdown-item.active,
    .dropdown-item:active {
        color: #000
    }
}

.profile-img {
    border-radius: 50% !important;
    width: 35px !important;
}

.cursor-pointer {
    cursor: pointer;
}

.carousel__image {
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: zoom-in;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
}